<!--The content below is only a placeholder and can be replaced.-->
<div style="...">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img src="data:" alt="Angular Logo" width="300">
</div>
<h2>Here are some links to help you start: </h2>  
<ul>
  <li>
    <h2><a href="https://angular.io/tutorial" target="_blank" rel="noopener">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a href="https://github.com/angular/angular-cli/wiki" target="_blank" rel="noopener">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a href="https://blog.angular.io" target="_blank" rel="noopener">Angular blog</a></h2>
  </li>
</ul>